simple-table > column {
  display: none;
}

simple-table div.table-wrapper {
  overflow-y: auto;
}

simple-table table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

simple-table table thead th a {
  text-decoration: inherit;
  color: inherit;
}

simple-table table tbody tr.selection {
  cursor: pointer;
}

simple-table table thead th,
simple-table table tbody td {
  width: auto;
}

simple-table table thead th.selection,
simple-table table tbody td.selection {
  width: 40px;
  text-align: center;
}

simple-table table td.fixed-height {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
