// BUTTONS
.btn:focus {
  box-shadow: none;
  outline: solid 2px $red;
  outline-offset: 2px;
}

.btn-primary {
  background-color: $primary;
  color: $white;
  border: 1px solid $primary;
}
.btn-primary:hover {
  background-color: shade-color($primary, 30%);
}

.btn-secondary {
  background-color: $secondary;
  color: $white;
  border: 1px solid $secondary;
}
.btn-secondary:hover {
  background-color: shade-color($secondary, 30%);
}

.btn-tertiary {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}
.btn-tertiary:focus {
  border: 1px solid $primary;
}
.btn-tertiary:hover {
  border: 1px solid $primary;
  background-color: $neutral-100;
}

// FORM CONTROL
.form-control:focus {
  box-shadow: none;
  outline: solid 2px $red;
  outline-offset: 2px;
}

.form-control.is-invalid + .input-group-text {
  border-color: $red;
}

// ACCORDION
.accordion {
  .accordion-item {
    border-left: 0;
    border-right: 0;
  }

  .accordion-button {
    font-weight: 600;
  }
  .accordion-button:hover {
      background-color: $neutral-100;
    }
}

// DROPDOWN
.dropdown-toggle {
  background-color: $primary;
  color: $white;
  font-weight: 500;
}

.dropdown-toggle:hover {
  background-color: shade-color($primary, 30%);
  color: $white;
}

.dropdown-toggle:focus {
  background-color: $primary;
  color: $white;
  outline: solid 2px $red;
  outline-offset: 2px;
}

// INPUT
.input-group {
  border-radius: $border-radius;

  .form-control:has(+ .input-group-text) {
    border-right: 0;
  }

  button.input-group-text {
    appearance: none;
    cursor: pointer;
  }

  button.input-group-text:focus-visible {
    outline: 2px solid $primary;
    outline-offset: -2px;
  }

  &:hover {
    box-shadow: 0 0 0 1px $primary;
  }
  &:focus {
    outline: solid 2px $red;
    outline-offset: 2px;
  }
}