.als-logo svg {
  position: absolute;
  top: 1rem;
  left: 4rem;
  height: 48px;
}

.help-link {
  cursor: pointer;
}

@media (max-width: 768px) {
  .als-logo svg {
    left: 50%;
    transform: translateX(-50%);
  }
}